@use '../variables' as *;

.housing-collapse-container {
  display: flex;  
  flex-wrap: wrap; 
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: space-between; 
}

.housing-collapse {
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;

  .housing-collapse-header {
    font-size: 18px;
    font-weight: 700;
    color: $secondary-color;
    background-color: $tertiary-color;
    border: none;
    padding: 15px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }

  .fa-chevron-up {
    transition: transform 0.3s ease;
  }

  .rotate {
    transform: rotate(-180deg);
  }

  &.open {
    background-color: #F6F6F6;
    border-radius: 0 0 8px 8px;

    .housing-collapse-content {
      max-height: 500px;
      padding: 15px;
      opacity: 1;
      visibility: visible;
      transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
  }

  .housing-collapse-content {
    font-family: $font-text;
    padding: 0 15px;
    font-size: 16px;
    line-height: 22px;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    width: 100%;
    box-sizing: border-box;
  }

  ul {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 10px;

    li {
      font-size: 14px;
      color: $primary-color;
      margin-bottom: 5px;
      margin-left: -20px;
    }
  }
}

.housing-description {
  padding-left: 20px;
  padding-right: 20px;
  color: $primary-color;
  font-size: 14px;
  line-height: 21px;
}

.housing-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

@media (max-width: 768px) {
  
  .housing-collapse-container {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .housing-collapse {
    width: 100%;
    margin-bottom: 15px;

    .housing-collapse-header {
      font-size: 16px;
      text-align: left;
      width: 100%;
      padding: 12px;
    }

    .housing-collapse-content {
      font-size: 14px;
      padding-left: 15px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    &.open .housing-collapse-content {
      max-height: 500px;
      opacity: 1;
      visibility: visible;
      padding: 12px;
    }
  }

  .housing-description {
    padding-right: 0;
    padding-left: 15px;
  }
}



