@use '../variables' as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}

.logo-header {
  display: flex;
  align-items: center;
}

.logo {
  width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px; 
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: $primary-color;
  font-family: $font-text;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

nav a.active {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background-color: $primary-color;
}

.footer-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $secondary-color;
  margin-top: -60px;
}

.footer-logo {
  width: 122px;
  padding-bottom: 25px;
}

footer p {
  margin-top: 20px;
  font-family: $font-text;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  margin-bottom: -85px;
  color: $secondary-color;
}

@media (max-width: 768px) {
  header {
    max-width: 100%; 
    padding: 10px 0;
  }

  nav {
    flex-direction: row; 
    justify-content: space-between;
    margin: 15px;
    margin-bottom: 0px;
  }

  .logo {
    width: 100px; 
  }

  nav ul {
    gap: 20px;
  }

  nav a {
    font-size: 14px;
  }

  footer {
    padding: 20px 10px;
  }
  
  .footer-logo {
    width: 135px;
    padding-bottom: 10px;
  }
  
  footer p {
    font-size: 14px;
  }
  
  footer p span {
    display: block;
    margin-top: 5px;
    line-height: 0px;
  }
}

