@use '../variables' as *;

// About banner page 

.about-banner {
  position: relative;
  width: 1240px;
  height: 223px;
  margin: 0 auto;  
  overflow: hidden;

  .about-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 25px;
  }

.banner-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1240px;
  height: 223px;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 0; 
  border-radius: 25px;
}   
}

.collapse {
  padding-top: 35px;
  max-width: 1024px;
  margin: 0 auto;

  .collapse-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $tertiary-color;
    color: $secondary-color;
    font-weight: 700;
    font-size: 20px;
    line-height: 34.22px;
    border: none;
    width: 1023px;
    height: 52px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .collapse-content {
    padding: 8px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 25.67px;
    max-height: 0; /* Par défaut, la hauteur est nulle (contenu caché) */
    overflow: hidden; /* Cache le contenu lorsqu'il est caché */
    transition: max-height 0.3s ease-in-out;
  }
  
  &.open .collapse-content {
    display: block;
    max-height: 500px;
  }

  .collapse-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow-icon {
    font-size: 24px; /* Ajuste la taille de l'icône */
    transition: transform 0.5s ease-in-out; /* Transition douce pour la rotation */
  }
  
  .rotate {
    transform: rotate(-180deg); /* Rotation de 180° quand 'isOpen' est vrai */
  }
}  













