@use '../variables' as *;

// About banner page
.about-banner {
  position: relative;
  width: 1240px;
  height: 223px;
  margin: 0 auto;
  overflow: hidden;

  .about-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
    border-radius: 25px;
  }

  // Media query pour les écrans mobiles
  @media (max-width: 768px) {
    width: 100%; /* La bannière prend toute la largeur de l'écran */
    height: 180px; /* Ajuste la hauteur pour les écrans plus petits */
  }
}

// Collapse
.collapse {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 35px;

  .collapse-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-text;
    background-color: $tertiary-color;
    color: $secondary-color;
    font-weight: 700;
    font-size: 20px;
    line-height: 34.22px;
    border: none;
    width: 100%;  /* Assure que l'élément prenne toute la largeur */
    height: 52px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;  /* Enlève toute marge supplémentaire */
    border-radius: 5px;
    box-sizing: border-box;
  }

  .collapse-content {
    font-family: $font-text;
    padding: 15px;
    font-size: 18px;
    line-height: 25.67px;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.3s ease-in-out;
    width: 100%;  
    box-sizing: border-box;
  }

  .collapse-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow-icon {
    font-size: 24px; 
    transition: transform 0.3s ease; 
  }

  .rotate {
    transform: rotate(-180deg); 
  }

  &.open {
    background-color: #F6F6F6; /* Fond plus clair lorsque ouvert */
    border-radius: 0 0 8px 8px;
    
    .collapse-content {
      display: block;
      max-height: 500px;
      width: auto; /* S'ajuste au contenu */
    }
  }
}



















