@use '../variables' as *;

.housing-form {
  position: relative;
  font-family: $font-text;
}

.housing-content {
  max-width: 1240px;  
  margin: 0 auto;     

}

.housing-info {
  display: flex;
  flex-direction: column;
  width: 60%; 
}

.housing-form-title {
  color: $tertiary-color;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.housing-location {
  color: $primary-color;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0px;
}

.tags-info {
  margin-top: -15px;
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: $font-text;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    padding-left: 0;

    li {
      background-color: $tertiary-color;
      color: $secondary-color;
      width: 115px;
      height: 25px;
      border-radius: 10px;
      font-size: 14px;
      margin-top: -5px;
    }
  }
}

.host-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 18px;

}

.host-name {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.first-name,
.last-name {
  font-size: 18px;
  color: $tertiary-color;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
}

.host-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.rating-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 17px;

  .stars {
    display: flex;
    gap: 12px;
    color: #e3e3e3;

    .active-stars {
      color: $tertiary-color;
    }
  }
}

.housing-form-collapse-container {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 20px
}

.housing-form-collapse {
  flex: 1;

  .collapse-elements {
    font-size: 18px;
    font-weight: 700;
    color: $secondary-color;
    background-color: $tertiary-color;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }

  .collapse-equipment {
    padding-right: 12px;
  }

  .fa-chevron-up {
    transition: transform 0.3s ease;
  }

  .rotate {
    transform: rotate(-180deg);
  }

  &.open {
    background-color: #F6F6F6;
    border-radius: 0 0 8px 8px;
  }

  ul {
    list-style-type: none;
    margin-top: 10px;
    padding-left: 20px;

    li {
      font-size: 14px;
      color: $primary-color;
      margin-bottom: 8px;
    }
  }
}

.housing-description {
  padding-left: 20px;
  padding-right: 20px;
}

.housing-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.host-info {
  font-size: 18px;
  line-height: 25.67px;
  text-align: right;
  margin-top: -111px;

  .host-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  p {
    font-size: 18px;
    color: $tertiary-color;
  }
}

@media (max-width: 768px) {
  .housing-header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .housing-info {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .housing-form-title {
    font-size: 18px;
  }

  .housing-location {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .tags-info {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px;

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      font-size: 12px;
      font-weight: 700;
      line-height: 20px;
      text-align: left;
      padding-left: 0;

      li {
        background-color: $tertiary-color;
        color: $secondary-color;
        padding: 0px 10px;
        border-radius: 10px;
        font-size: 12px;
        white-space: nowrap;
        max-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        flex-basis: 0;
      }
    }
  }

  .rating-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: -25px;

    .stars {
      display: flex;
      gap: 8px;
      color: #e3e3e3;

      .active-stars {
        color: $tertiary-color;
      }
    }
  }

  .host-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: -15px;
    line-height: 17.11px;
  }

  .host-name {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }

  .host-info .host-name .first-name{
    font-size: 12px;
  }

  .host-info .host-name .last-name{
    font-size: 12px;
  }

  .host-info .host-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .housing-form-collapse-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .housing-form-collapse {
    width: 100%;
    margin-bottom: 15px;
    .collapse-elements {
      font-size: 16px;
      text-align: left;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .housing-equipment {
      padding-right: 0px;
    }

    ul {
      padding-left: 0;
      li {
        font-size: 14px;
        color: $primary-color;
        margin-bottom: 8px;
        padding-left: 15px;
      }
    }
  }

  .housing-description {
    padding-left: 0;
    padding-right: 0;
    padding-left: 15px;
  }
}

