@use '../variables' as *;
@use '../mixins' as *;

/* Version Desktop */
.banner-elements {
  .banner {
    position: relative;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
    width: 1240px;
    margin: 0 auto;
    margin-bottom: 40px;

    /* L'overlay passe au-dessus de l'image */
    .banner-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 1240px;
      height: 223px;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
      border-radius: 25px;
    }

    .banner-image {
      position: absolute;
      object-fit: cover;
      width: 1240px;
      height: 223px;
      top: 0;
      left: 0;
      border-radius: 25px;
    }

    .banner-title {
      font-family: $font-text;
      font-size: 48px;
      font-weight: 700;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      color: $secondary-color;
      -webkit-text-stroke: 1px $primary-color;
      z-index: 2;
      white-space: nowrap;
    }
  }
}

/* Housing container */
.housing-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales sur desktop */
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F6F6F6;
  border-radius: 25px;
  width: 1240px;
  margin: 0 auto;
  justify-items: center; /* Centre les cartes horizontalement */
  gap: 20px; /* Espacement uniforme entre les cartes */
}

.housing-card {
  @include housing-card-style(#F6F6F6, 10px);
  transition: transform 0.3s ease;
  width: 100%; /* Les cartes prennent toute la largeur disponible dans chaque cellule */
  max-width: 340px; /* Max-width pour contrôler la taille des cartes */
  margin: 0 auto;

  &:hover {
    transform: scale(1.05);
  }

  .housing-image {
    transition: transform 0.3s ease;
  }

  .housing-title {
    transition: transform 0.3s ease;
  }

  &:hover .housing-image {
    transform: rotate(2deg);
  }

  &:hover .housing-title {
    transform: rotate(2deg);
  }

  &::after {
    @include overlay-card-style(black, 0.2);
    display: none;
  }
}

.housing-image {
  @include housing-image-style();
}

.housing-title {
  @include housing-title-style();
}



@media (max-width: 768px) {
  .banner-elements .banner {
    width: 100%; /* Prend toute la largeur */
    height: auto;
    border-radius: 10px; /* Border-radius de 10px pour la version mobile */
    overflow: hidden; /* Empêche l'image de déborder des bords arrondis */
  }

  .banner-elements .banner .banner-overlay {
    border-radius: 10px; /* Assure que l'overlay a un border-radius de 10px en mobile */
  }

  .banner-elements .banner .banner-title {
    font-size: 24px; 
    white-space: normal;
    text-align: left;
    line-height: 1.2;
    -webkit-text-stroke: none; /* Supprime le contour sur mobile */
    text-shadow: none;
    margin-left: -160px;
  }

  .banner-title span {
    display: block;
  }

  .banner-title span {
    display: block; 
  }

  .banner-image {
    width: 100%;
    height: auto;
  }

  .housing-container {
    grid-template-columns: 1fr; 
    width: 100%;
    margin-left: 0;
    background-color: $secondary-color;
  }

  .housing-card {
    width: 90%;
    margin: 10px auto;
    background-color: $secondary-color;
  }
}
