@use '../variables' as *;
@use '../mixins' as *;

.banner-elements {
  .banner {
    position: relative;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
    width: 1240px;
    margin: 0 auto;
    margin-bottom: 40px;

    .banner-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 1240px;
      height: 223px;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
      border-radius: 25px;
    }

    .banner-image {
      position: absolute;
      object-fit: cover;
      width: 1240px;
      height: 223px;
      top: 0;
      left: 0;
      border-radius: 25px;
    }

    .banner-title {
      font-family: $font-text;
      font-size: 48px;
      font-weight: 700;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      color: $secondary-color;
      -webkit-text-stroke: 1px $primary-color;
      z-index: 2;
      white-space: nowrap;
    }
  }
}

.housing-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  background-color: #F6F6F6;
  border-radius: 25px;
  width: 1240px;
  margin: 0 auto;
  justify-items: center; 
  margin-bottom: 40px;
  padding: 10px;
}


@media (max-width: 768px) {
  .banner-elements .banner {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
    overflow: hidden; 
    margin-bottom: 20px;
  }

  .banner-elements .banner .banner-overlay {
    border-radius: 10px; 
  }

  .banner-elements .banner .banner-title {
    font-size: 24px; 
    white-space: normal;
    text-align: left;
    line-height: 1.2;
    -webkit-text-stroke: none; 
    text-shadow: none;
    justify-content: flex-start;
  }

  .banner-title span {
    display: block;
  }

  .banner-title span {
    display: block; 
  }

  .banner-image {
      transform: translateX(-24%) translateY(-126px);
    }

  .housing-container {
    margin-top: 0;
    grid-template-columns: 1fr; 
    width: 100%;
    padding: 0px;
    background-color: $secondary-color;
    gap: 15px;
  }
}

