@use '../variables' as *;

.notfound-page {
    display: flex;
    flex-direction: column; /* Passer en mode colonne */
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;

    .notfound-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centrer les éléments verticalement */
        flex-grow: 1; /* Permet au contenu de prendre toute la hauteur restante */
        margin-bottom: 0; /* Annule toute marge */
    }

    .notfound-title {
        color: $tertiary-color;
        font-family: $font-text;
        font-size: 288px;
        font-weight: 700;
        text-align: center;
        margin-top: 100px; /* Espacement sous le titre */
    }

    .notfound-text {
        font-size: 36px;
        color: $tertiary-color;
        font-weight: 500;
        margin-bottom: 100px; /* Marge sous le texte */
        margin-top: -85px;
    }

    .notfound-return-link {
        font-size: 18px;
        color: $primary-color;
        margin-bottom: 20px; /* Marge sous le lien */
    }
}

@media (max-width: 768px) {
    .notfound-page {
        padding-bottom: 50px;
        font-family: $font-text;
    }

    .notfound-page .notfound-content {
        margin-top: 0;
        flex-grow: 1; /* Permet à .notfound-content de prendre l'espace restant */
    }

    .notfound-page .notfound-content .notfound-title {
        font-size: 96px;
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .notfound-page .notfound-content .notfound-text {
        font-size: 18px;
        margin-bottom: 100px; /* Ajuste la marge sous le texte pour mobile */
        margin-top: 0; /* Retire le margin-top sur mobile pour plus de lisibilité */
    }

    .notfound-page .notfound-content .notfound-return-link {
        font-size: 14px;
        margin-bottom: 26px; /* Réduit la marge sous le lien sur mobile */
    }

    .notfound-text-line {
        display: block; /* Permet à chaque span de passer à la ligne */
        text-align: center;
    }
}


